<footer id="page-footer">
  <div class="footer-wrapper">
    <div class="footer-navigation">
      <div class="footer-navigation-column">
        <nav>
          <ul>
            <li><a [routerLink]="['/']">Link</a></li>
            <li><a [routerLink]="['/']">Link</a></li>
            <li><a [routerLink]="['/']">Link</a></li>
            <li><a [routerLink]="['/']">Link</a></li>
            <li><a [routerLink]="['/']">Link</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer-navigation-column">
        <nav>
          <ul>
            <li><a [routerLink]="['/']">Link</a></li>
            <li><a [routerLink]="['/']">Link</a></li>
            <li><a [routerLink]="['/']">Link</a></li>
            <li><a [routerLink]="['/']">Link</a></li>
            <li><a [routerLink]="['/']">Link</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-social">
      <nav>
        <ul>
          <li><a [routerLink]="['/']">Link</a></li>
          <li><a [routerLink]="['/']">Link</a></li>
          <li><a [routerLink]="['/']">Link</a></li>
          <li><a [routerLink]="['/']">Link</a></li>
          <li><a [routerLink]="['/']">Link</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
