<rob-card>
  <h2 class="title">{{ timelineItem.title }}</h2>
  <div class="timeline-item-dates">
    <fa-icon [icon]="icons.calendar"></fa-icon>
    <span class="from-date timeline-item-date">{{
      timelineItem.from | date: 'MMMM YYYY'
    }}</span>
    <span class="date-separator">to</span>
    <span class="to-date timeline-item-date">{{
      timelineItem.to | date: 'MMMM YYYY'
    }}</span>
  </div>
  <p class="summary">{{ timelineItem.summary }}</p>
  <div
    class="timeline-item-highlights"
    *ngIf="timelineItem.highlights && timelineItem.highlights.length > 0"
  >
    <rob-chip
      type="primary"
      *ngFor="let highlight of timelineItem.highlights"
      >{{ highlight }}</rob-chip
    >
  </div>
</rob-card>
