<div class="cv-skill-item">
  <div class="cv-skill-item-title">
    {{ skill.name }}
  </div>
  <div class="skill-rating">
    <div
      class="skill-bar"
      (mouseenter)="activateTooltip()"
      (mouseleave)="deactivateTooltip()"
    >
      <div class="skill-bar-inner" [style]="{ width: ratingPercentage }"></div>
    </div>
    <div
      class="skill-tooltip"
      [style]="{ left: ratingPercentage }"
      *ngIf="tooltipState === 'active'"
      [@fadeInOnEnter]
      [@fadeOutOnLeave]
    >
      {{ ratingPercentage }}
    </div>
  </div>
</div>
