<section class="bg-primary-900">
  <div class="container mx-auto flex flex-wrap items-end">
    <div class="w-full md:w-1/2">
      <div class="w-full mx-auto max-w-xs">
        <rob-lazy-image
          src="/assets/images/homepage/me.png"
          thumbnailSrc="/assets/images/homepage/me_thumb.png"
          alt="Image of Rob Bailey"
          loadOn="scroll"
        ></rob-lazy-image>
      </div>
    </div>
    <div class="w-full md:w-1/2 py-16 text-light-50">
      <p class="my-16">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed magni,
        error, esse totam fugit quidem nam a voluptatibus dolor aperiam delectus
        debitis nostrum cupiditate eligendi assumenda architecto exercitationem
        praesentium ullam!
      </p>
      <rob-button variant="secondary">Learn More</rob-button>
    </div>
  </div>
</section>
