<section class="about-basics">
  <div class="about-basics-wrapper">
    <h1>About Me</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit dolore
      aspernatur ipsam labore, nam commodi ut quasi optio quam quidem animi non
      quia exercitationem. Quaerat ut dolores quo culpa sit.
    </p>
    <h2>What can I do?</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum porro eum
      repellendus sequi iste nulla illo, cupiditate veritatis laboriosam nisi
      quasi ipsam a aut quod explicabo asperiores inventore? Quis, libero?
    </p>
    <h2>Why did I build this site?</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo repellat
      iste laudantium voluptate? Autem voluptates esse officia harum
      reprehenderit, explicabo sapiente recusandae suscipit fugit error tempore
      nihil cupiditate nobis. Officia?
    </p>
    <h2>What am I working on?</h2>
    <p></p>
    <h2>Am I available for work or projects?</h2>
    <p></p>
  </div>
</section>
