<section class="md:h-screen">
  <div class="container h-full mx-auto flex flex-wrap">
    <div
      class="w-full md:w-1/2 flex items-center md:justify-center md:h-full md:text-center p-8"
    >
      <h1 id="title" class="text-6xl md:text-7xl lg:text-8xl">
        Rob Bailey
        <span class="block text-4xl md:text-5xl lg:text-6xl text-light-800"
          >Software Engineer</span
        >
      </h1>
    </div>
    <div
      class="w-full md:w-1/2 flex items-center justify-center md:h-full md:text-center p-8"
    >
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi iure
        labore amet? A, quos incidunt. Nemo similique dicta voluptate,
        consequatur, quod error quibusdam quam perferendis molestias enim iure
        quos dolorum!
      </p>
      <rob-lazy-image
        src="/assets/images/homepage/me.png"
        thumbnailSrc="/assets/images/homepage/me_thumb.png"
        loadOn="scroll"
      >
      </rob-lazy-image>
    </div>
  </div>
</section>
