<section class="md:h-screen">
  <div class="container h-full mx-auto flex flex-wrap">
    <div
      class="w-full md:w-1/2 flex items-center md:justify-center md:h-full md:text-center p-8"
    >
      <h1 id="title" class="text-6xl md:text-7xl lg:text-8xl" [@fadeInOnEnter]>
        Rob Bailey
        <span class="block text-4xl md:text-5xl lg:text-6xl text-primary-900"
          >Software Engineer</span
        >
      </h1>
    </div>
    <div
      class="w-full md:w-1/2 flex items-center md:justify-center md:h-full md:text-center p-8 text-2xl"
    >
      <div data-cy="introduction-text" [@fadeInDownOnEnter]>
        <p>Hi there!</p>
        <p>I make things with code.</p>
      </div>
    </div>
  </div>
</section>
